{% extends 'layout.html' %}
{% block titulo %} Carta {% endblock %}

{% block cartacss %} <link rel="stylesheet" href="{{ url_for('static', filename='css/carta.css') }}" /> {% endblock %}
{% block cartajs %} <script src="{{ url_for('static', filename='js/carta.js') }}" async></script> {% endblock %}

{% block contenido %}
<small>Enter message (optional) and click button "Send"</small>
<div class="wrapper centered">
<article class="letter">
    <div class="side">
    <h1>Contact us</h1>
    <p>
        <textarea placeholder="Your message"></textarea>
    </p>
    </div>
    <div class="side">
        <div class="row">
            <div class="col">
                <p>
                    <input type="text" placeholder="Your name" >
                </p>
                <p>
                    <input type="email" placeholder="Your email" >
                </p>
            </div>
            <p class="col">
                <button id="sendLetter">Send</button>
            </p>
        </div>
    </div>
</article>
<div class="envelope front"></div>
<div class="envelope back"></div>
</div>
<p class="result-message centered">Thank you for your message</p>
{% endblock %}