{% extends 'layout.html' %} {% block titulo %}Iniciar sesión{% endblock %} {% block contenido %}
<div>
	<div class="cont_principal">
		<div class="cont_centrar">
			<div class="cont_login">
				{% if admin == True %}
				<form action="/sing-up_admin" method="POST">
				{% else %}
				<form action="/sing-up" method="POST">
				{% endif %}
					<div class="cont_tabs_login">
						<ul class="ul_tabs">
							<li class="active">
								<a onclick="sign_in()">SIGN IN</a>
								<span class="linea_bajo_nom"></span>
							</li>
							<li>
								<a onclick="sign_up()">SIGN UP</a>
								<span class="linea_bajo_nom"></span>
							</li>
						</ul>
					</div>
					<div class="cont_text_inputs">
						{% with mensajes = get_flashed_messages() %} {% if mensajes %} {% for msj in mensajes %}
						<div class="alert alert-danger">{{ msj }}</div>
						{% endfor %} {% endif %} {% endwith %}
						<input type="text" class="input_form_sign" placeholder="NAME" name="nombre" autocomplete="off"/>
						<input type="text" class="input_form_sign d_block active_inp" placeholder="EMAIL" name="correo" required autocomplete="off"/>
						<input type="password" class="input_form_sign d_block active_inp" placeholder="PASSWORD" name="contrasena" required autocomplete="off"/>
						<input type="password" class="input_form_sign" placeholder="CONFIRM PASSWORD" name="contrasena_confirm" />
						<input type="text" class="input_form_sign" placeholder="DIRECCION" name="direccion" autocomplete="off"/>
						<input type="text" class="input_form_sign" placeholder="TELEFONO" name="telefono" autocomplete="off"/>
						<a class="link_forgot_pass d_block" href="{{ url_for('restore_password') }}">¿Olvidaste tu contraseña?</a>
						<div class="terms_and_cons d_none">
							<p>
								<input type="checkbox" name="terms_and_cons" id="terms_and_cons" />
								<label for="terms_and_cons">Accept Terms and Conditions.</label>
							</p>
						</div>
					</div>
					<input type="hidden" name="action_type" id="action_type" value="signin" />
					<div class="cont_btn">
						<button class="btn_sign" type="submit">SIGN IN</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}
